:root {
  --color-zinc-50: hsl(0 0% 98%);
  --color-zinc-100: hsl(240 4.8% 95.9%);
  --color-zinc-200: hsl(240 5.9% 90%);
  --color-zinc-300: hsl(240 4.9% 83.9%);
  --color-zinc-400: hsl(240 5% 64.9%);
  --color-zinc-500: hsl(240 3.8% 46.1%);
  --color-zinc-600: hsl(240 5.2% 33.9%);
  --color-zinc-700: hsl(240 5.3% 26.1%);
  --color-zinc-800: hsl(240 3.7% 15.9%);
  --color-zinc-900: hsl(240 5.9% 10%);
  --color-zinc-950: hsl(240 10% 3.9%);

  --color-emerald-50: hsl(151.8 81% 95.9%);
  --color-emerald-100: hsl(149.3 80.4% 90%);
  --color-emerald-200: hsl(152.4 76% 80.4%);
  --color-emerald-300: hsl(156.2 71.6% 66.9%);
  --color-emerald-400: hsl(158.1 64.4% 51.6%);
  --color-emerald-500: hsl(160.1 84.1% 39.4%);
  --color-emerald-600: hsl(161.4 93.5% 30.4%);
  --color-emerald-700: hsl(162.9 93.5% 24.3%);
  --color-emerald-800: hsl(163.1 88.1% 19.8%);
  --color-emerald-900: hsl(164.2 85.7% 16.5%);
  --color-emerald-950: hsl(165.7 91.3% 9%);

  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;

  --border-width-thin: 0.0625rem;
  --border-width: calc(var(--border-width-thin) * 2);

  --transition-duration-fast: 0.125s;
  --transition-duration: 0.25s;
}
