.textInput {
  position: relative;
  height: 2.25rem;
  border-radius: 1.125rem;
  padding: 0 1rem;
  background-color: var(--color-zinc-900);
  outline: solid var(--border-width-thin) var(--color-zinc-800);
  outline-offset: calc(-1 * var(--border-width-thin));
  transition-property: outline-color;
  transition-duration: var(--transition-duration-fast);

  &:before {
    position: absolute;
    inset: calc(var(--border-width-thin) * -1);
  }

  &:not(:disabled) {
    &:hover {
      outline-color: var(--color-zinc-700);
    }

    &:focus {
      outline-color: var(--color-emerald-500);
      outline-width: var(--border-width);
    }
  }

  &::placeholder {
    color: var(--color-zinc-600);
  }
}
